body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;
    align-items: center;
}
/* Section 1 */
img {
    width: auto;
    height: 300px;
  }

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
    gap: 50px;
    background-color: #1F2937;
    align-items: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}

h3 {
    color: #E5E7eb;
    font-size: 18px;
    font-weight: 50;
}

h4 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900px;
    padding: 24px;
    margin: 0px;
}

.header{
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7eb;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    font-size: 12px;
    font-weight: bold;
}
 /* Section 2  */

 .section-2-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
 }

 .grid-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding: 16px;
    margin-bottom: 60px;
 }

.grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 100;
}

.image-grid {
    border: solid 3px #3882F6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
}
 
/* Section 3 Quotes */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 100px 200px;
}

.quoter {
    margin-left: auto;
    font-weight: 900;
}

.quote {
    font-size: 36px;
    font-weight: 100;
}

/* Footer Section */

.cta-container {
    display: flex;
    background-color: #3882F6;
    margin: 60px 130px;
    align-items: center;
    padding: 28px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-sign-up {
    border: 1px solid white;
}

.footer-smaller-text {
    font-weight: 100;
    font-size: 12px;
}